.idea/
.vscode/

# Ignore Logs folder
Logs/

# Ignore links
.lnk

# Ignore syncfile db
sync.ffs_db

# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
output/
*.log
pubspec.lock

#Testing directories
/test/generated
/test/debug*
.DS_Store
gpth

#Github_ignore folder
.github_ignore
progress.json
